body, html{
  height: 100%; margin: 0 auto; width: 100%;
}
/***    Navigation Bar   ****/
.nav{
  width: 100%;
  padding: 10px 0;
  position: absolute;
  z-index: 7;
  color: #000;
  height: 40px;
}
.nav-menu{width: 100%;}
.inner-nav{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.nav > ul{
  list-style: none;
  height: 100%;
}
.nav-logo{
  float: left;
  font-weight: 700;
  font-size: 20px;
  padding: 0 1em;
}
.nav-item{
  float: right;
  padding: 0 ;
  font-weight: 300;
  font-size: 15px;
  margin-right: 2em;
  font-size: 1.0em;
}
.nav-btn{
    color: #fff !important;
    text-decoration: none;
}
.nav-btn:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.fixed{
  background: rgba(18,50,68, 1);
  position: fixed;
  top:0;
}
.foot-cl{
    background-color: rgba(18,50,68, 1);
    color: white;
}

/***    Alignment   ****/
.all-center{text-align: center;}
.all-left{text-align: left;}
.all-right{text-align: right;}
.all-flex{
  display: flex;
}
.m-2{
  margin: 2em;
}
.mtb-05> h6, h5{
 margin-bottom: 0 !important;
}
.drk-bg{background: rgba( 4,102,131, 1);}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 10px auto;
  position: relative;
  width:100%;
}
.card-header {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  z-index: 3;
}
.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.blok{
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.FE{background-color: #bc2424;}
.BE{background-color: #48A0B6;}
.DN{background-color: #e84A5F;}

/***    Heading Title   ****/
.HTop{
  margin-top: 2em;
  margin-bottom: 2em !important;
  letter-spacing: 5px;
}
.p-42{
  padding: 4em 0.5em ;
}

/***   Parallax   ****/
.paraheading{
  padding-top: 3rem;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 10px;
  color: white;
}
.para-hl{
  color: black;
  padding: 1.75rem;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 10px;
  background-color: white;
  display: inline-block;
}


.paratext{
  font-weight: 200;
    font-size: 20px;
  letter-spacing: 5px;
}
.paraheading, .paratext{
  color: white;
  padding: 2rem;
  margin: 2rem;
  /*display:inline;*/

}
.paraImg1, .paraImg2, .paraImg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
  padding: 260px 0;
  margin: 0 auto;
  opacity:1;
}
.paraImg1{
  background-image:url('../img/image1.jpg');
  min-height: 20%;
}
.paraImg2{
  background-image: url('../img/image2.jpg');
  min-height: 20%;
}
.paraImg3{
  background-image: url('../img/image3.jpg');
  min-height: 20%;
}
