body, html{
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/***    Navigation Bar   ****/
.nav{
  width: 100%;
  padding: 8px 0;
  background-color: #000;
  position: absolute;
  z-index: 5;
  color: #fff;
  opacity: 0.7;
}
.nav-menu{
  padding: 0 4rem;
}
.nav > ul{
  list-style: none;
  margin: 0.75rem 0 ;
}
.nav li{
  display: inline-block;
}
.logo{
  float: left;
}
.nav-item{
  float: right;
}
.nav-btn{
    color: #fff !important;
    text-decoration: none;
    padding: auto;
    margin: 0 0.5rem;
}
.fixed{
  position: fixed;
  top:0;
}

/***    Alignment   ****/
.all-center{
  text-align: center;
}
.all-left{
  text-align: left;
}
.all-right{
  text-align: right;
}

/***    Heading Title   ****/
.HTop{
  margin-top: 2em;
  margin-bottom: 2em !important;
  letter-spacing: 5px;

}
.space-m10{
  padding: 3em ;
}

/***   Parallax   ****/
.paraheading{
  padding-top: 50px;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 15px;
  color: white;


}
.paratext{
  font-weight: 200;
  letter-spacing: 5px;
}
.paraheading, .paratext{
  color: white;

}

.paraImg1, .paraImg2, .paraImg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
  padding: 200px 0;
  margin: 0 auto;
  opacity:1;

}
.paraImg1{
  background-image:url('../img/image1.jpg');
  min-height: 20%;
}

.paraImg2{
  background-image: url('../img/image2.jpg');
  min-height: 20%;

}

.paraImg3{
  background-image: url('../img/image3.jpg');
  min-height: 20%;
}
